table{
  margin: 25px;
  margin-left: 50px;
  justify-content: center;
}
h1{
  margin-left: 25px;
}
.clickable{
  font-size: large;
  font-weight: bolder;
  font-style: oblique;
  color: rgb(6, 126, 163);
  text-decoration: underline;
  cursor: pointer
  hover
}
.clickable:hover{
  color: rgb(71, 146, 168);
  cursor: pointer
}
