<h1>Alumnos</h1>
<table class=" mi-tabla">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Correo</th>
      <th scope="col">Teléfono</th>
      <th scope="col">DNI</th>
      <th scope="col">Títulos</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tablaAlumnos" *ngFor="let alumno of alumnos">
      <td >{{ alumno.nombre }}</td>
      <td >{{alumno.apellidos}}</td>
      <td>{{ alumno.email }}</td>
      <td>{{ alumno.telefono }}</td>
      <td>{{ alumno.dni }}</td>
      <td>{{ alumno.titulos}}</td>
      <td>
      <button type="button" class="btn btn-success" (click)="mandarCorreo(alumno.email!)"><i class="bi bi-envelope-open"></i></button>
      <button type="button" class="btn btn-warning" (click)="emitirEvento(alumno.id!)"><i class="bi bi-pencil-square"></i></button>
      <button type="button" class="btn btn-danger" (click)="borrarAlumno(alumno.id!)"><i class="bi bi-trash3-fill"></i></button>


      </td>
    </tr>

  </tbody>
</table>
