.contenedor-principal {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
}
h1{
  margin-bottom: 35px;
}
.subtitulo {
    color: #7f8c8d;
    font-size: 16px;
    margin-top: 0;
}


.lista-empleos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

}

.tarjeta-empleo {
    height: 225px;
    background-color: #ddfadc;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(61, 71, 1, 0.5);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 10px;

}

.tarjeta-empleo:hover {
    transform: translateY(-25px);
    transform: scale(1.3);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
}

.encabezado-tarjeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.encabezado-tarjeta h2 {
    margin: 0;
    color: #2c3e50;
    font-size: 20px;
}

.empresa {
  display: flex;
    color: #7f8c8d;
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    color: #95a5a6;
    justify-content: center;
    margin-bottom: 10px;
}

.detalles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.detalle-item {
    display: flex;
    align-items: center;
    color: #555;
    font-size: 14px;
}

.acciones {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}



