
* {
    padding: 0;
    margin: 0;

}
.navBar{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background: #305dd8;

}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 35px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    align-self: last baseline;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: #305dd8;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: #51d927;

}

ul li:hover ul.dropdown {
    display: block;
}
img{
  width: 100px;

  height: auto;
  align-self: center;
}
