<div *ngIf="profesor">
  <nav class="navbar">

    <div class="navbar-links">
        <div class="dropdown">
        <span class="dropdown-toggle">{{profesor.nombre}}</span>
        <div class="dropdown-menu">
          <a routerLink="/login" routerLinkActive="active">Logout</a>
        </div>

      </div>
        <a routerLink="/profesor" routerLinkActive="active">Alumnos</a>
        <a routerLink="/profesor/empresa" routerLinkActive="active">Empresas</a>
        <a routerLink="/profesor/empleo" routerLinkActive="active">Empleos</a>
        <a routerLink="/profesor/titulo" routerLinkActive="active">Titulos</a>
        <a routerLink="/profesor/admin" routerLinkActive="active" *ngIf="profesor.rol==='ROLE_Admin'">Profesores</a>


    </div>

  </nav>
</div>
