<h1> Lista de Empresas:</h1>
<table class="mi-tabla">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Email</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tablaEmpresas" *ngFor="let empresa of empresas">

      <td>{{empresa.nombre}}</td>
      <td>{{ empresa.descripcion }}</td>
      <td>{{ empresa.email }}</td>
      <td>{{ empresa.telefono }}</td>
      <td>
      <button type="button" class="btn btn-warning" (click)="emitirEvento(empresa.id!)" ><i class="bi bi-pencil-square"></i></button>
      <button type="button" class="btn btn-danger" (click)="borrarEmpresa(empresa.id!)"><i class="bi bi-trash3-fill"></i></button>
      </td>


    </tr>

  </tbody>
</table>
