<h1>Alumno:</h1>

<form #alumnoForm="ngForm">

  <div class="form-group mb-3">
    <label for="InputNombre">Nombre</label>
    <input class="mi-input" type="text" class="form-control" id="InputNombre"
           [(ngModel)]="alumno.nombre" name="nombre"
           placeholder="Introduce nombre" required>
  </div>

  <div class="form-group mb-3">
    <label for="InputApellidos">Apellidos</label>
    <input type="text" class="form-control" id="InputApellidos"
           [(ngModel)]="alumno.apellidos" name="apellidos"
           placeholder="Introduce apellidos" required>
  </div>

  <div class="form-group mb-3">
    <label for="InputEmail">Email</label>
    <input type="email" class="form-control" id="InputEmail"
           [(ngModel)]="alumno.email" name="email"
           placeholder="Introduce email" required>
  </div>

  <div class="form-group mb-3">
    <label for="InputTelefono">Teléfono</label>
    <input type="text" class="form-control" id="InputTelefono"
           [(ngModel)]="alumno.telefono" name="telefono"
           placeholder="Introduce teléfono">
  </div>

  <div class="form-group mb-3">
    <label for="InputDireccion">Dirección</label>
    <input type="text" class="form-control" id="InputDireccion"
           [(ngModel)]="alumno.direccion" name="direccion"
           placeholder="Introduce dirección">
  </div>

  <div class="form-group mb-3">
    <label for="InputDni">DNI</label>
    <input type="text" class="form-control" id="InputDni"
           [(ngModel)]="alumno.dni" name="dni"
           placeholder="Introduce DNI" required>
  </div>

  <div class="form-group mb-3">
    <label id="titulacion">Titulación</label>
    <app-seleccion-titulo (idSeleccionado)="recibirId($event)"></app-seleccion-titulo>
  </div>

  <button type="button" (click)="postAlumno()" class="btn btn-primary"
          [disabled]="!alumnoForm.valid">Enviar</button>
</form>

