@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', monospace;
}

.fondo-profesor{
background-color: #a5d0f3;
background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}

.fondo-alumno{
background-color: #acf7b1;
background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.fondo-login{
background-color: #a5d0f3;
background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}
h1{
  display: flex;
  justify-content: center;
  margin-left: 25px;
  font-family: 'Roboto Slab', serif;
  font: 1em sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: black;
  letter-spacing: 1px;

}
