<app-barra-navegacion></app-barra-navegacion>
<div class="centrando">
<div class="centro-educativo">
  <h2 class="titulo"><strong>Centro Educativo Ejemplo Fp-Enlace</strong></h2>
  <p><strong>Dirección:</strong> Calle Falsa 123, Murcia</p>
  <p><strong>Teléfono:</strong> +34 123 456 789</p>
  <p><strong>Email:</strong> info&#64;centrofalso.edu</p>
  <p><strong>Horario atención:</strong> Lunes a Viernes, 8:00 - 17:00</p>
  <p>
    Este Centro Educativo es un lugar dedicado a ofrecer educación de calidad en un ambiente
    cálido y seguro, fomentando el desarrollo de nuestros estudiantes.
  </p>
  </div>
</div>
