<h1>Empleo</h1>

<form #empleoForm="ngForm">

  <div class="form-group mb-3">
    <label for="InputNombre">Empleo</label>
    <input type="text" class="form-control" id="InputNombre"
           [(ngModel)]="empleo.nombreEmpleo" name="empleo"
           placeholder="Introduce nombre" required>
  </div>

  <div class="form-group mb-3">
    <label for="InputNombre">Descripción</label>
    <textarea type="text" class="form-control" id="InputDescripcion"
           [(ngModel)]="empleo.descripcion" name="descripcion"
           placeholder="Introduce nombre" required></textarea>
  </div>


  <div class="form-group mb-3">
    <label id="titulacion">Empresa</label>
    <app-selecion-empresa (idSeleccionado)="recibirIdEmpresa($event)"></app-selecion-empresa>
  </div>

  <div class="form-group mb-3">
    <label id="titulacion">Titulo</label>
    <app-seleccion-titulo (idSeleccionados)="recibirIds($event)"></app-seleccion-titulo>
  </div>



  <button type="button" (click)="postEmpleo()" class="btn btn-primary"
          [disabled]="!empleoForm.valid">Enviar</button>
</form>

