input{
   background-color: #e2f2fd;
}
*{
 display: grid; place-items: center;
}

#titulacion{
 justify-content: center;
}

.form-group{
 width: 350px;
}


button:disabled {
  background-color: #3f5688;
}
