<app-barra-navegacion-profesor></app-barra-navegacion-profesor>
<div class="botones">
  <button type="button" class="btn btn-success" (click)="mostrarAdministracion()">Empleos ofertados</button>

  <button type="button" class="btn btn-success" (click)="mostrarRegistro()">Nuevo Empleo</button>


</div>

<app-lista-empleos-profesor (activarFormulario)="mostrarModificacion($event)" (idEmpleo)="mostrarAlumnosInteresados($event)"*ngIf="mostrandoEmpleos"></app-lista-empleos-profesor>
<app-formulario-empleo  *ngIf="mostrandoRegistro"></app-formulario-empleo>
<app-formulario-empleo-modificacion [idEmpleo]="idEmpleoModificar!" *ngIf="mostrandoModificacion"></app-formulario-empleo-modificacion>
<app-lista-alumnos-interesados [idEmpleo]="idEmpleoBuscarAlumnos!" *ngIf="mostrandoAlumnoInteresados"></app-lista-alumnos-interesados>
